<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>


    <style>
        body{
            background-color: rgb(202, 202, 202);
        }

        h1{
            display: flex;
           align-items: center;
           justify-content: center;
        }

        
        
    </style>




<!-- <form action='/users' method='post'>
    <label for='name'>Name:</label>
    <input type='text' name='name'>
    <label for='email'>Email:</label>
    <input type='text' name='email'>
    <button> </button>
</form> -->
<H1> Counter</H1>

<!-- 
    <form action='/users' method='post'>
        <label for='name'>Name:</label>
        <input type='text' name='name'>
        <label for='email'>Email:</label>
        <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form> -->

    <form action="/users" method="post">
        {{num_visits}}
        <button type="submit" >Count</button>
    </form>
    
    <form action="/clear" method="post">
        
        <button type="submit" >clear</button>
    </form>
    
    
</body>
</html>